# ----------------------------------------------------------------------------
# API KEYS
# ----------------------------------------------------------------------------
OPENROUTER_API_KEY=sk-or-v1-...
OPEN_AI_KEY=sk-...
PERPLEXITY_API_KEY=pp-...

# ----------------------------------------------------------------------------
# VARIABLES
# ----------------------------------------------------------------------------
SERVICE_NAME=template-rename-me
HOST_IP=127.0.0.1
PORT=8080
LOGGER_LEVEL=INFO
THIRD_PARTY_LOGGERS_LEVEL=WARNING
