# ----------------------------------------------------------------------------
# API KEYS
# ----------------------------------------------------------------------------
OPENROUTER_API_KEY=sk-or-v1-...
OPEN_AI_KEY=sk-...
PERPLEXITY_API_KEY=pp-...

# ----------------------------------------------------------------------------
# VARIABLES
# ----------------------------------------------------------------------------
HOST_IP="127.0.0.1"
PORT=8080
